@{
    ViewData["Title"] = "Home Page";
}

<h1>Made by Jarosław Rogalski</h1>
<h2>This is a .NET app</h2>
<p>
    It uses  ASP.NET Core 2.2 and Entity Framework Core 2.2 and allows the user to access a database, which is located on Azure SQL server.
</p>
<p>
    Please click "Orders" to view the table.
</p>


